/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&family=Baloo+2:wght@400;700&display=swap');

/* Reset margin, padding, dan box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pengaturan umum untuk body */
body, a, p {
    font-family: 'Assistant', sans-serif;
    color: #4B4B4B;
    font-size: medium;
    font-weight: 600;
}

/* Heading styling */
h1, h2 {
    font-family: 'Baloo 2', cursive;
}

/* Header styling */
.header {
    background-color: #EAAD49;
    padding: 5px 15px;
    text-align: left;
    font-size: 20px;
    width: 100%;
    position: fixed; /* Menjadikan posisi tetap di bagian atas */
    top: 0;
    left: 0;
    z-index: 1000;  /* Memastikan header berada di depan elemen lain */
    display: flex;
    justify-content: space-between; /* Atur jarak antara dua elemen */
    align-items: center; /* Agar vertikal sejajar */
}

/* Container utama untuk landing page */
.landing-container {
    padding-top: 50px; /* Memberikan jarak dari fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/Landingpage.svg');
    color: white;
}

/* Flexbox untuk konten gambar di kiri, teks dan tombol di kanan */
.landing-content {
    display: flex;
    align-items: center; /* Memastikan gambar dan konten berada di tengah secara vertikal */
    justify-content: flex-start; /* Gambar di sebelah kiri, teks dan tombol di sebelah kanan */
    width: 90%;
    max-width: 1200px; /* Maksimal lebar untuk menjaga responsivitas */
    margin: 0 auto;
}

/* Styling untuk gambar di kiri */
.left-image {
    width: 500px; /* Sesuaikan ukuran gambar */
    max-width: 100%; /* Agar responsif */
    height: auto;
    margin-right: 20px; /* Jarak antara gambar dan konten */
}

/* Container untuk teks dan tombol secara vertikal */
.text-button-container {
    display: flex;
    flex-direction: column; /* Mengatur teks dan tombol secara vertikal */
    align-items: flex-start; /* Rata kiri */
    gap: 10px; /* Jarak antara teks dan tombol */
}

/* Styling untuk teks */
.text-button-container h2 {
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
}

/* Navbar untuk link */

.header-home {
    padding-top: 20px;
    padding-left: 50px;
    text-align: left;
    font-size: 20px;
    width: 100%;
    position: fixed; /* Menjadikan posisi tetap di bagian atas */
    top: 0;
    left: 0;
    z-index: 1000;  /* Memastikan header berada di depan elemen lain */
    display: flex;
    justify-content: space-between; /* Atur jarak antara dua elemen */
    align-items: center; /* Agar vertikal sejajar */
    border-bottom: 3px solid #bebebe; /* Menambahkan garis bawah pada header */
    padding-bottom: 20px; /* Menambahkan jarak antara navbar dan elemen di bawahnya */
    background-color: white;
}

.header-home h1{
    font-size: 20px;
    color: #39B54A;
}

/* <!-- HTML !-->
<button class="button-33" role="button">Button 33</button> */

/* CSS */

nav {
    display: flex;
    gap: 10px;
    padding-right: 50px;
    align-items: center; /* Rata tengah vertikal */
}

nav a {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: 'Baloo 2', cursive;
    padding: 7px 20px;
    display: flex; /* Menggunakan flexbox di dalam link */
    align-items: center; /* Rata tengah vertikal untuk konten di dalam link */
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
nav a:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

/* Styling untuk ikon di dalam link navbar */
nav a img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

/* CSS */
.btn {
    appearance: button;
    font-family: 'Assistant', sans-serif;
    width: auto;
    background-color: #58A700;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.btn:after {
  background-clip: padding-box;
  background-color: #58CC02;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn,
.btn:focus {
  user-select: auto;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn:disabled {
  cursor: auto;
}

.btn:active {
  border-width: 4px 0 0;
  background: none;
}

#sign-in-btn{
    width: 100%;
}

/* Styling untuk card-container */
.card-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/titik-titik.svg');
    color: white;
    width: 130%;
    padding-left: -50px;
}


.card-container h2{
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    color: #4B4B4B;
    margin-top: -100px; /* Naikkan posisi h2 dengan margin negatif */
}

/* Styling umum untuk card */
.card {
    width: 600px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}

.card:hover{
    transform: scale(1.05); /* Card akan sedikit membesar, 5% lebih besar */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Tambahkan shadow agar card terlihat lebih menonjol */ 
}

/* Styling untuk checkbox dalam card */
.card-checkbox {
    display: flex;
    align-items: center;
}

/* Style untuk checkbox */
.card-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Menambahkan jarak antara checkbox dan konten card */
    cursor: pointer;
}

/* Card warna hijau untuk Read */
.card-green {
    background-color: #39B54A;
}

.card-wrapper {
    display: flex;
    align-items: center;
    gap: 15px; /* Jarak antara gambar dan card */
    
}

.card-image {
    width: 200px;
    height: 170px;
}

/* Card warna kuning untuk Speaking */
.card-yellow {
    background-color: #FFC107;
}

/* Konten dalam card (teks) */
.card-content h3 {
    font-size: 30px;
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 30px;
}

.card-content p {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    color: white;
}

/* Styling untuk tombol "START" dan ikon bintang */
.card-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-start {
    background-color: white;
    color: #39B54A;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Styling untuk gambar bintang */
.card-action img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Menambahkan animasi pada hover */
    
}

/* Hover effect untuk gambar saja */
.card-action img:hover {
    transform: scale(1.2); /* Zoom gambar saat di-hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Menambahkan shadow pada gambar saat di-hover */
}

.profile-container {
    max-width: 600px;
    margin: 70px auto 0;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(0.1, 0.1, 0.1, 0.1);
    align-items: center;
}

.profile-container h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    align-items: center;
    color: #58CC02;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.profile-image-container {
    position:relative; /* Agar bisa mengatur posisi absolut jika diperlukan */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#profileImage {
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    object-fit: cover;
    width: 100px;
    height: 100px;
    border: 2px solid #4B4B4B; /* Memberikan frame di sekitar gambar */
    align-items: center;
}

.bintang{
    width: 50px;
    height: 50px;
}
/* Styling untuk input file */
.profile-group {
    color: black;
    display: flex;
    flex-direction: column; /* Menyusun elemen dalam kolom vertikal */
    align-items: center;    /* Memusatkan konten di dalam div */
    text-align: center;     /* Memastikan teks juga berada di tengah */
}

input[type="file"] {
    margin-top: 1px; /* Beri jarak antar elemen */
}

small {
    margin-top: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-group label {
    font-weight: bold;
    font-size: 15px;
}

.form-group input[type="file"]{
    align-items: left; /* Pusatkan elemen secara horizontal */
    text-align: left; /* Pastikan teks berada di tengah */
    color: black;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    font-family: 'Assistant', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input[type="file"] {
    padding: 5px;
    font-size: 14px;
}

.form-group small {
    font-size: 12px;
    color: #777;
}

.extra-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

/* Actions (Logout and Delete) */
.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    margin-top: 20px;
}

.logout {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.delete-account {
    background-color: transparent;
    color: red;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.logout:hover,
.delete-account:hover {
    text-decoration: underline;
}

/* Button Disabled Styling */
button[disabled] {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
}

.profile-info{
    margin-left: 50px;
}

.profile-content {
    display: flex; /* Menggunakan Flexbox untuk mengatur elemen secara horizontal */
    flex-direction: column; /* Mengatur elemen menjadi satu kolom vertikal */
    align-items: flex-start; /* Memastikan elemen rata kiri */
    margin-bottom: 20px;
}

.profile-content p {
    font-size: 14px;
}

.profile-content span {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    color: black;
}

/* Profile actions for editing */
.profile-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-actions a {    
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Quiz*/
.quiz-container {
    color: F7F7F7;
    position:relative; /* Agar bisa mengatur posisi absolut jika diperlukan */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F6F6F6;
    width: 100%;
}

/* Sidebar (Timer and Question Numbers) */

.sidebar {
    width: 200px;
    background-color: white; /* Background color for the sidebar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 8px;
    margin-top: -200px;
}

.sidebar.listen {
    margin: 20px;
}

.timer {
    text-align: center;
    margin-bottom: 30px;
}

.timer p {
    color: black;
    font-size: 14px;
}

.timer h1 {
    color: #39B54A;
    font-size: 24px;
    font-weight: bold;
}

.question-numbers {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    gap: 10px;
    justify-content: center;
}
/* 
<!-- HTML !-->
<button class="button-1" role="button">Button 1</button> */

/* CSS */
.question-numbers .button {
  background-color: #89E219;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.question-numbers .button:hover {
  background-color: #b7f082;
}

.question-numbers .button.current {
    background-color: #b7f082;
}

.question-numbers .button.wrong {
    background-color: #FF7676;
}

.question-numbers .button.wrong:hover,
.question-numbers .button.wrong:focus {
  background-color: #ff7676ab;
}


.question-numbers .button.active {
    background-color: #FFD700;
}

.question-numbers .button.active:hover,
.question-numbers .button.active:focus {
  background-color: #FFD700ab;
}

/* Feedback Container (hidden by default) */
/* Feedback Container Styles */
.feedback-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22%;
    display: flex;
    padding: 20px;
    z-index: 999;
    justify-content: space-between; /* Space between feedback-content and button */
    align-items: center; /* Align items vertically */
    background-color: #CCFFCC; /* Example color, adjust as needed */
    transform: translateY(100%); /* Awalnya tersembunyi di luar layar */
    transition: transform 0.5s ease-in-out;
}

.feedback-container.active {
    transform: translateY(0); /* Muncul dari bawah ke atas */
}

.feedback-wrapper {
    display: flex;
    padding-top: 25px;

    flex-direction: row; /* Mengatur dalam 1 baris (2 kolom) */
    justify-content: space-around; /* Ruang antara kolom feedback dan tombol */
    align-items: center; /* Rata tengah secara vertikal */
    width: 100%; /* Lebar penuh untuk wrapper */
}

.feedback-content {
    display: flex;
    align-items: center; /* Agar ikon dan pesan rata tengah vertikal */
}

.feedback-icon img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.feedback-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Rata kiri konten pesan */
    justify-content: center; /* Rata tengah vertikal pada konten */
}

.feedback-text {
    font-size: 20px;
    font-weight: bold;
    color: #489D26; /* Hijau gelap untuk teks Nice! */
    margin: 0;
}

.report {
    font-size: 15px;
    font-weight: lighter;
    color: #489D26; /* Warna hijau gelap untuk report */
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
}

.btn.continue {
    font-size: 13px;
}

.btn.continue:hover {
    font-size: 13px;
}

/* Main Content (Question and Answer Section) */
.main-content {
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 20px;
}

.progress-bar {
    height: 8px;
    width: 100%;
    background-color: #E5E5E5;
    border-radius: 4px;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    width: 90%; /* Progress of the quiz */
    background-color: #00BFFF;
    border-radius: 4px;
}

/* CSS */
.listen-btn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.400rem - 1px) calc(1rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.soal {
    display: flex; /* Menggunakan Flexbox untuk pengaturan elemen secara horizontal */
    justify-content:center; /* Elemen-elemen akan diratakan di tengah secara horizontal */
    width: 100%;
    align-items: center; /* Elemen-elemen akan diratakan di tengah secara vertikal */
    
}

.hiasan img {
    height: 200px;
}

.listen-btn:hover,
.listen-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.listen-btn:hover {
  transform: translateY(-1px);
}

.listen-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.listen-btn img {
    margin-right: 5px; /* Memberikan jarak antara gambar dan teks */
    height: 15px;
}

.listen-btn span {
    font-family: 'Assistant', sans-serif;
    margin-left: 5px; /* Jika teks dibungkus dalam elemen span */
    font-weight: bold;
    font-size: 14px;
}


.question-header{
    font-size: 20px;
    text-align: left;
}

.question-text {
    margin-bottom: 20px;
}

.question-text.listening {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.question-text p{
    font-family: 'Assistant', sans-serif;
    text-align: justify;
    font-size: 17px;
    font-weight:normal;
}

.question-text h2 {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

/* Answer Options */
.answer-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer {
    font-family: 'Assistant', sans-serif;
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    text-align: left;
}



.answer.disabled:hover {
    background-color: inherit; /* Revert to original background color */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    background-color: #ccc;
    /* Remove any other hover effects like box-shadow, border changes, etc. */
}

.answer .letter {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 4px;
    font-weight: bold;
}

.answer.clicked {
    background-color: #FFC107;
}

/* Ketika tombol di-click, efek hover dinonaktifkan */
.answer.clicked:hover {
    background-color: #FFC107;
}

.answer:hover{
    background-color: #ffc10760;
}

.answer-box {
    border: 2px solid #E5E5E5;
    min-height: 50px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;

    display: flex;
    justify-content: center;  /* Horizontal Centering */
    align-items: center;      /* Vertical Centering */
}

.common-answer-style {
    font-family: 'Baloo 2', cursive;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1.5px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 5px;
}

.answer-options.Listening {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.answer-options.Listening .answer {
    font-family: 'Baloo 2', cursive;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    cursor: grab;
}

.answer-options.Listening .answer:active {
    cursor: grabbing;
}

/* Navigation Buttons */
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn.skip:after {
    background-color: white;
}

.btn.skip{
    color: black;
    font-size: 12px;
}

.btn.check{
    font-size: 12px;
}


/* --- auth ---*/
.login-box {
    background-color: #003566;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    color: #FFF8C6;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 2em;
    align-items: center;   
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

/* Forgot Password and Buttons */
.forgot-password {
    font-family: 'Assistant', sans-serif;
    color: white;
    font-size: 14px;
    cursor: default; /* Menghindari pointer cursor */
    text-decoration: none;
    padding-bottom: 5px;
}

.google-sign-in {
    font-family: 'Assistant', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 20px;
    height: 50px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer; 
    font-weight: bold;

    /* Flexbox untuk memastikan teks dan gambar berada di tengah */
    display: flex;
    align-items: center; /* Menyelaraskan gambar dan teks secara vertikal */
    justify-content: center; /* Menyelaraskan gambar dan teks secara horizontal */
}

.google-sign-in img {
    margin-right: 10px;
    width: 20px; /* Ukuran gambar bisa diatur sesuai kebutuhan */
    height: 20px; /* Ukuran gambar bisa diatur sesuai kebutuhan */
}


/* Styling for "Register Now" link */
.register-link {
    font-family: 'Assistant', sans-serif;
    color: #39B54A; /* Warna hijau untuk Register link */
    font-weight: bold;
    font: 0.5em;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}
/* Responsif */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    .landing-content {
        flex-direction: column; /* Agar gambar dan konten bertumpuk pada layar kecil */
        text-align: center;
    }

    .left-image {
        margin-right: 0;
        margin-bottom: 20px; /* Jarak antara gambar dan teks di layar kecil */
    }

    .text-button-container {
        align-items: center; /* Rata tengah pada layar kecil */
    }
}
